{% extends '_form_new_layout.html.twig' %}

{% block body %}
 
    
    <h1>Dodajesz Tag Wiadomości</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
    
    <hr />
{% endblock %}