{% extends 'NewsModuleBundle:news:_form_new_layout.html.twig' %}

{% block body %}

    <h1>Edytujesz Tag Wiadomości</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="pull-right" value="Edit" />
    {{ form_end(form) }}
    
    <hr />
{% endblock %}