<div class="panel panel-default" id="panel-attributes">
    <div class="panel-heading">
        <h2 class="panel-title">Attributes</h2>
    </div>
    {% if objects|length > 0 %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>
                        <i class="fa fa-question-circle" aria-hidden="true"></i>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for attr in objects %}
                <tr>
                    <td>{{ attr }}</td>
                    <td>
                        {% if attr.description %}
                            {{ attr.description }}
                        {% else %}
                             No description
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else%}
    <div class="panel-body">
        No attributes
    </div>
    {% endif %}
</div>