<div class="container-fluid">
    <h2 class="search-result">{{ entity.title }}
        <a href="{{ path("admin_article_show", {"id" : entity.id}) }}" >
            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></h2>
        </a>
    </h2>
    <p class="popover-content">
        {{ entity.content[:150] }} ...
    </p>
    <hr>
</div>