{% extends '@SowpRegistry/row/_layout_form.twig' %}

{% form_theme form _self %}

{% block body %}
    <div class="pull-right">
        {{ include('@SowpRegistry/row/buttons/_btn_list.html.twig') }}
    </div>

    <h1>Row creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form.values) }}
    <input type="submit" value="Create" />
    {{ form_end(form) }}

{% endblock %}
