{{ form_start(restore_form, {"attr": {"style": "display: inline-block"}}) }}
<button type="submit" class="btn btn-danger">
    <i class="fa fa-recycle" aria-hidden="true"></i>
    Restore
</button>
{{ form_end(restore_form) }}