{% extends 'SowpArticleBundle:article:_form_layout.html.twig' %}

{% form_theme form _self %}

{% block body %}
    <div class="pull-right">

        <a href="{{ path('admin_article_index') }}" class="btn btn-default">
            <i class="fa fa-list" aria-hidden="true"></i>
            Back to the list
        </a>

    </div>

    <h1>Article creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="pull-right" name="add_article">Add</button>
    {{ form_end(form) }}

{% endblock %}
