{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">BIP</h3>
        </div>
        <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto laboriosam ut quo nihil numquam. Animi inventore sint consequuntur, quae hic iusto a eveniet, non esse optio ab assumenda unde tempora.
        </div>
    </div>
{% endblock %}

