{{ form_start(delete_form, {"attr": {"style": "display: inline-block"}}) }}
<button type="submit" class="btn btn-danger">
    <i class="fa fa-trash" aria-hidden="true"></i>
    Delete
</button>
{{ form_end(delete_form) }}