{% extends 'NewsModuleBundle:news:_form_new_layout.html.twig' %}

{% block body %}
    {% include 'NewsModuleBundle::flash.html.twig' %}
    <div class="pull-right">
        <a href="{{ path('sowp_newsmodule_news_index') }}" class="btn btn-default">
            <i class="fa fa-list" aria-hidden="true"></i>
            Back to the list
        </a>
    </div>
    
    <h1>Add message</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="pull-right" name="send_new_message" type="submit" value="Add" />
    {{ form_end(form) }}
{% endblock %}

