<div class="col-lg-4" style="max-width: 20em; margin-top: 0.4em">
    <div class="input-group">
        <span class="input-group-btn">
        <a class="btn btn-secondary search-button" href="#" id="search-button">Go!</a>
        </span>
        <input type="text" class="form-control" name="q" placeholder="Search for...">
    </div>
</div>