{% extends 'base.html.twig' %}

{% block main %}
    <h1 class="page-header">Welcome to BIP</h1>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2 class="panel-title">Panel title</h2>
        </div>
        <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus ratione aperiam saepe aspernatur nihil at perspiciatis, asperiores, odio iure distinctio temporibus, veritatis accusantium deserunt deleniti quibusdam voluptatem voluptates, voluptatibus perferendis!</p>
            <p>Tempora quam optio, voluptatibus tenetur quidem neque odio fugiat consequatur illo dolorum ad, voluptatem ea. Possimus recusandae sunt similique animi itaque. Labore incidunt, illum optio saepe officia corporis itaque consequatur!</p>
            <p>Suscipit dolores, incidunt, eum illo error non corrupti adipisci fuga hic, possimus accusantium vel a? Commodi, consequatur rem, facilis sit mollitia error quam ea nostrum repellat dignissimos voluptas dolor aliquid.</p>
            <p>Veritatis voluptatem pariatur ipsum sit nobis modi eos, dolores, ad illo iusto alias odit fuga sunt officiis ullam officia ipsa ex soluta eligendi, libero inventore quaerat nesciunt in suscipit. Pariatur.</p>
            <p>Aliquid porro, nisi error in temporibus molestias, iure alias voluptatum, ducimus consequuntur nam nulla velit ex, omnis quod tempore recusandae corporis. Nobis, aperiam, minus! Commodi tempora architecto sequi labore, iure!</p>
        </div>
    </div>
{% endblock %}