<table class="table table-striped table-hovered">
    <thead>
    <tr>
        {#<th>Id</th>#}
        {% for attr in registry.attributes %}
            <th>
                {{ include('@SowpRegistry/registry/_attr_label.html.twig', { 'attr': attr }) }}
            </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
            {#<td>#}
            {#<a href="{{ path('admin_row_show', { 'registry_id': registry.id, 'id': row.id }) }}">{{ row.id }}</a>#}
            {#</td>#}
            {% for value in row.values %}
                <td>
                    {{ include('@SowpRegistry/registry/_item_value.html.twig') }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>