<div class="container-fluid">
    <h2 class="search-result">{{ entity.title }}
        <a href="{{ path("sowp_newsmodule_news_show", {"slug" : entity.slug}) }}" >
            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></h2>
    </a>
    <p class="popover-content">
        {{ entity.content[:150] }} ...
    </p>
    <hr>
</div>